<div class="admin__container">
  <div class="admin__row">

    <form #changeForm class="admin__card" >
      <div class="admin__card__imageContainer">
        <div admin__card__input>
          <label >
          title
          </label>
          <input type="text" name="titles" class="admin__card__title">
        </div>
        <div>
          <label>
            category
          </label>
          <input type="text" name="category" class="admin__card__title">
        </div>
        <div>
          <label>
            image
          </label>
          <input type="text" name="image" class="admin__card__title">
        </div>
        <div>
          <label>
            price
          </label>
          <input type="text" name="price" class="admin__card__title">
        </div>
        <div>
          <label>
            description
          </label>
          <input type="text" name="description" class="admin__card__title">
        </div>
        <button type="button" class="admin__card__button" (click)="createProduct(changeForm)">save</button>
      </div>

    </form>
  </div>
</div>

