<div class="admin__container">

  <div class="admin__row">
    <button type="button" routerLink="/add" class="admin__add">Voeg Product toe</button>

    <form #changeForm class="admin__card" *ngFor="let item of productList">
      <div class="admin__card__imageContainer">
        <img class="admin__card__image" src="assets/images/covers/{{item.image}}" alt="{{item.image}}">
      </div>
      <input type="text" name="titles" class="admin__card__title" value="{{item.title }}">
      <textarea name="description" id="description" class=" admin__card__description" value="{{item.description }}"></textarea>
      <input type="text" name="price" class="admin__card__price" value="{{item.price }}">
      <button type="button" class="admin__card__button" (click)="saveChanges(changeForm, item)">save</button>
      <button type="button" class="admin__card__delete" (click)="delete(item)">🗑️</button>

    </form>
  </div>
</div>
